@import "tailwindcss";

/* Define Custom Fonts */
@font-face {
  font-family: "GIP-Regular";
  src: url("/fonts/GIP-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GIP-Bold";
  src: url("/fonts/GIP-ExtraBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GIP-Italic";
  src: url("/fonts/GIP-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* in your styles.css or global.css */
.bg-dots {
  background-color: white;
  background-image: radial-gradient(
    #d1d5db 1px,
    transparent 1px
  ); /* #d1d5db is Tailwind's gray-300 */
  background-size: 20px 20px;
}
